@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.about-box {
    width: 670px;
    height: 674px;
    display: block;
    margin: auto;
}

.about-terminal-box {
    width: 670px;
    height: 630px;
    background: #111111;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.terminal-text {
    float: left;
    margin-left: 30px;
    margin-top: 20px;
}

.terminal-command {
    float: left;
    font-family: Roboto Mono;
    font-weight: bold;
    font-size: 16px;
    color:#FAFAFA;
    text-align: left;
}

.terminal-result {
    float: left;
    font-family: Roboto Mono;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #CCCCCC;
    margin-left: 36px;
    text-align: left;
}

.next-terminal-line {
    line-height: 36px;
}

.Hyperlink {
    color: #70a9ff;
}

