.other-experience {
    display: block;
    width: 1040px;
    margin: auto;
}

.other-experience-body {
    width: 1040px;
    height: 1100px; /* 1120 but the 20 is padding */
    background: #B06D79;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 20px;
}

.other-horizontal-spacer {
    display: inline-block;
}

.full-width-project, .half-width-project {
    background: white;
    height: 500px;
    display: inline-block;
    vertical-align: top;
    margin: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.full-width-project {
    width: 960px;
}

.half-width-project {
    width: 460px;
}

.horizontal-align {
    display: inline-block;
}

.project-pic-half, .project-pic-full {
    height: 380px;
    background-color: blue;
    vertical-align: top;
    display: inline-block;
}

.project-pic-half {
    width: 460px;
}

.project-pic-full {
    width: 480px;
}

.project-text-full, .project-text-half {

    font-size: 16px;
    line-height: 24px;
    text-align: left;
    padding: 12px;
}